<!-- Article Date
================================================== -->
{% assign date = page.date %}
{% assign updated = page.updated %}
<p class="article-date">
  <small>
    {{ site.data.i18n['article-posted'][lang] }}
    <time datetime="{{ date | date_to_xmlschema }}">
    {% if lang == "ru" %} {% include date.html date=date %}
    {% else %} {{ date | date_to_string }}
    {% endif %}
    </time>
    {% if updated %}
    <br>{{ site.data.i18n['article-edited'][lang] }}
    <time datetime="{{ updated | date_to_xmlschema }}" itemprop="dateModified">
    {% if lang == "ru" %} {% include date.html date=updated %}
    {% else %} {{ updated | date_to_string }}
    {% endif %}
    </time>
    {% endif %}
  </small>
</p>
