<!-- Entry Header
================================================== -->
{% assign guides = site.pages | where: "type", "guide" | where: "lang", lang %}
{% for guide in guides %}
    <a
        class="breadcrumbs"
        href="{{ site.baseurl }}/{% if lang == 'en' %}en/{% endif %}guides/{{page.guide}}"
        title="{{ guide.title }}">
            <i class="fas fa-arrow-left">&nbsp;</i>&nbsp;{{ guide.title }}
    </a>
{% endfor %}

<header class="entry-header">
    <a
        title="{{ site.data.i18n['edit'][lang] }} GitHub"
        href="https://github.com/yarastu/yarastu/blob/gh-pages/{% if lang == 'en' %}en/{% endif %}_posts/{{ page.date | date: '%Y-%m-%d' }}-{{ page.slug }}.md"
        target="_blank"
    >
        <i class="fa fa-pencil-alt"></i>&nbsp;{{ site.data.i18n['edit'][lang] }}
    </a>
    <h1>{{ page.title }}</h1>
</header>
