<!-- Tactic
================================================== -->
{% assign guide = include.guide %}
{% assign tactic = include.tactic %}
{% assign lang = page.lang %}
{% capture header %}tactic-header-{{-tactic-}}{% endcapture %}
{% assign posts = site.posts | where: "guide", guide | where: "tactic", tactic | where: "lang", lang %}

{% if posts.size != 0 %}
  <article class="blog-grid-container guides-entries">
    <h2>{{ site.data.i18n[header][lang] }}</h2>
    {% for post in posts %}
      {% assign id = post.slug %}
      {% assign extend = id | append: "-extend" %}
      {% assign content = id | append: "-content" %}
      {% assign ajax = id | append: "-ajax" %}
      {% assign link = id | append: "-link" %}
      {% assign copy = id | append: "-copy" %}
      {% capture img-alt %}{{ post.title }}{% endcapture %}
      <article class="blog-grid-item item-tactic">
        <div class="card card-tactic w-100">
          <div class="maxthumb">
            <a href="{{ site.url }}{{ post.url }}">
              {% include thumbnail.html name=id alt=img-alt %}
            </a>
          </div>
          <div class="card-body">
            <h3 class="card-title"><a class="text-dark" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
            <p class="card-text">{{ post.beforetoc | truncatewords:20 }}</p>
            <a
              id="{{- extend -}}"
              href="{{ site.url }}{{ post.url }}"
              role="button"
              class="btn btn-info collapsed"
              data-toggle="collapse"
              data-target="#{{- id -}}"
              >{{ site.data.i18n['tactic-extend'][lang] }}
            </a>
          </div>
        </div>
        <div id="{{- id -}}" class="collapse collapse-tactic">
          <div id="{{- content -}}"><i id="{{- ajax -}}"></i></div>
          <small style="display:flex;flex-direction:row;justify-content:space-between">
            <b>
              {{ site.data.i18n['tactic-share'][lang] }}
              <a
                style="color:black;font-weight:normal"
                id="{{ copy }}"
                class="copy-shareable-link"
                title="{{ site.data.i18n['tactic-share'][lang] }} {{ site.data.i18n['tactic-share-copy'][lang] }}"
                role="button"
                href="#"
                >{{ site.data.i18n['tactic-share-copy'][lang] }}</a>
              —
              <a
                style="color:gray;font-weight:normal"
                id="{{ link }}"
                title="{{ site.data.i18n['tactic-share'][lang] }}"
                href="{{ site.url }}{{ post.url }}"
                >{{ site.url }}{{ post.url }}</a>
            </b>
            <a
              style="color:gray;font-weight:normal"
              class="edit"
              title="{{ site.data.i18n['edit'][lang] }} GitHub"
              href="https://github.com/yarastu/yarastu/blob/gh-pages/{% if lang == 'en' %}en/{% endif %}_posts/{{ post.date | date: '%Y-%m-%d' }}-{{ post.slug }}.md"
              target="_blank"
              >{{ site.data.i18n['edit'][lang] }}
            </a>
          </small>
        </div>
      </article>
      <script>
        $("#{{- id -}}").on("hide.bs.collapse", function () {
          $("#{{- extend -}}").html("{{ site.data.i18n['tactic-extend'][lang] }}");
        })
        $("#{{- id -}}").on("show.bs.collapse", function () {
          $(document).ajaxStart(function() { $("#{{- ajax -}}").html("{{ site.data.i18n['ajax-loading'][lang] }}"); });
          $.ajax({
            url: "{% if lang == 'en' %}/en{% endif %}/{{- id -}}",
            type: "GET",
            dataType: "html",
            success: function(response) {
              var content = $(response).find(".article-post").html();
              $("#{{- ajax -}}").hide();
              $("#{{- content -}}").html(content);
            },
            error: function(xhr, status, error) {
              $("#{{- ajax -}}").html("{{ site.data.i18n['ajax-error'][lang] }} : <a title='' href='{{ site.url }}{{ post.url }}'>{{ site.url }}{{ post.url }}</a>");
              console.error("Ajax error", error);
            }
          });
          $("#{{- extend -}}").html("{{ site.data.i18n['tactic-less'][lang] }}");
        })
        $("#{{- copy -}}").on("click", function (event) {
          event.preventDefault();
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($("#{{- link -}}").text()).select();
          document.execCommand("copy");
          $temp.remove();
          $("#{{- copy -}}").html("{{ site.data.i18n['tactic-share-copied'][lang] }}").css( "color", "green" ).fadeIn(800);
          setTimeout(function() {
            $("#{{- copy -}}").html("{{ site.data.i18n['tactic-share-copy'][lang] }}").css( "color", "black" ).fadeIn(800);
          }, 5000);
        })
      </script>
    {% endfor %}
  </article>
{% endif %}
