---
layout: default
---
{% assign lang = page.lang %}
{% assign guides = site.pages | where: "type", "guide" | where: "lang", lang %}
{% assign tactics = site.posts | where: "lang", lang %}

<!-- Author
================================================== -->
{% assign author = site.authors['vadim'] %}
<div class="authorbox">
  <div class="row">
    <div class="wrapavname col-3 col-xl-2">
      <img src="{{ site.url }}/assets/images/vadim.jpg" alt="{{ site.data.i18n['vadim'][lang] }}" height="250" width="250">
    </div>
    <div class="col-9 col-xl-10">
      <h4>{{ site.data.i18n['hello'][lang] }}</h4>
      <p class="mt-3 mb-0">{{ site.data.i18n['hello-lead'][lang] }}</p>
    </div>
  </div>
</div>

<!-- New findings
================================================== -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<article class="home-entries guides-entries">
  <h2>{{ site.data.i18n['findings-header'][lang] }}</h2>
  {% for post in tactics limit: 5 %}
    {% assign id = post.slug %}
    {% assign extend = id | append: "-extend" %}
    {% assign content = id | append: "-content" %}
    {% assign ajax = id | append: "-ajax" %}
    {% assign link = id | append: "-link" %}
    {% assign copy = id | append: "-copy" %}
    {% capture date %}{{ post.date }}{% endcapture %}
    {% capture img-name %}{{ post.slug }}{% endcapture %}
    {% capture img-alt %}{{ post.title }}{% endcapture %}
    {% capture guide-tag %}guide-{{ post.guide }}-tag{% endcapture %}
    <article class="blog-grid-item item-tactic">
      <div class="card card-tactic w-100">
        <div class="maxthumb">
          <a href="{{ site.url }}{{ post.url }}">
            {% include thumbnail.html name=img-name alt=img-alt %}
          </a>
        </div>
        <div class="card-body card-home">
          {% if forloop.first %}
            <time
              class="card-date"
              data-date="{{ date | date: '%Y-%m-%d' }}"
              datetime="{{ date | date_to_xmlschema }}"
              >{% include date.html date=date %}
            </time>
          {% endif %}
          <span class="card-tag">{{ site.data.i18n[guide-tag][lang] }}</span>
          <h3 class="card-title"><a class="text-dark" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
          <p class="card-text">{{ post.beforetoc | truncatewords:20 }}</p>
          <a
            id="{{- extend -}}"
            href="{{ site.url }}{{ post.url }}"
            role="button"
            class="btn btn-info collapsed"
            data-toggle="collapse"
            data-target="#{{- id -}}"
            >{{ site.data.i18n['tactic-extend'][lang] }}
          </a>
        </div>
      </div>
      <div id="{{- id -}}" class="collapse collapse-tactic">
        <div id="{{- content -}}"><i id="{{- ajax -}}"></i></div>
        <small style="display:flex;flex-direction:row;justify-content:space-between">
          <b>
            {{ site.data.i18n['tactic-share'][lang] }}
            <a
              style="color:black;font-weight:normal"
              id="{{ copy }}"
              class="copy-shareable-link"
              title="{{ site.data.i18n['tactic-share'][lang] }} {{ site.data.i18n['tactic-share-copy'][lang] }}"
              role="button"
              href="#"
              >{{ site.data.i18n['tactic-share-copy'][lang] }}</a>
            —
            <a
              style="color:gray;font-weight:normal"
              id="{{ link }}"
              title="{{ site.data.i18n['tactic-share'][lang] }}"
              href="{{ site.url }}{{ post.url }}"
              >{{ site.url }}{{ post.url }}</a>
          </b>
          <a
            style="color:gray;font-weight:normal"
            class="edit"
            title="{{ site.data.i18n['edit'][lang] }} GitHub"
            href="https://github.com/yarastu/yarastu/blob/gh-pages/{% if lang == 'en' %}en/{% endif %}_posts/{{ post.date | date: '%Y-%m-%d' }}-{{ post.slug }}.md"
            target="_blank"
            >{{ site.data.i18n['edit'][lang] }}
          </a>
        </small>
      </div>
    </article>
    <script>
      $("#{{- id -}}").on("hide.bs.collapse", function () {
        $("#{{- extend -}}").html("{{ site.data.i18n['tactic-extend'][lang] }}");
      })
      $("#{{- id -}}").on("show.bs.collapse", function () {
        $(document).ajaxStart(function() { $("#{{- ajax -}}").html("{{ site.data.i18n['ajax-loading'][lang] }}"); });
        $.ajax({
          url: "{% if lang == 'en' %}/en{% endif %}/{{- id -}}",
          type: "GET",
          dataType: "html",
          success: function(response) {
            var content = $(response).find(".article-post").html();
            $("#{{- ajax -}}").hide();
            $("#{{- content -}}").html(content);
          },
          error: function(xhr, status, error) {
            $("#{{- ajax -}}").html("{{ site.data.i18n['ajax-error'][lang] }} : <a title='' href='{{ site.url }}{{ post.url }}'>{{ site.url }}{{ post.url }}</a>");
            console.error("Ajax error", error);
          }
        });
        $("#{{- extend -}}").html("{{ site.data.i18n['tactic-less'][lang] }}");
      })
      $("#{{- copy -}}").on("click", function (event) {
        event.preventDefault();
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($("#{{- link -}}").text()).select();
        document.execCommand("copy");
        $temp.remove();
        $("#{{- copy -}}").html("{{ site.data.i18n['tactic-share-copied'][lang] }}").css( "color", "green" ).fadeIn(800);
        setTimeout(function() {
          $("#{{- copy -}}").html("{{ site.data.i18n['tactic-share-copy'][lang] }}").css( "color", "black" ).fadeIn(800);
        }, 5000);
      })
    </script>
  {% endfor %}
  <div class="blog-grid-item item-tactic home-entries-more home-entries-more--first">
    <div class="card h-100 w-100">
      <a class="text-dark" href="{{ site.url }}/{% if lang == 'en' %}en/{% endif %}tactics">{{ site.data.i18n['more-posts'][lang] }}&nbsp;»</a>
    </div>
  </div>
</article>
<script>
  function countDaysFromDate(date) {
    var currentDate = new Date();
    var inputDate = new Date(date);
    var timeDiff = Math.abs(currentDate.getTime() - inputDate.getTime());
    var oneDay = 24 * 60 * 60 * 1000;
    var diffDays = Math.floor(timeDiff / oneDay);
    return diffDays;
  }
  var cardDates = document.querySelectorAll(".card-date");
  cardDates.forEach(function(cardDate) {
    var inputDate = cardDate.getAttribute("data-date");
    var daysPassed = countDaysFromDate(inputDate);
    cardDate.innerHTML = daysPassed + "{{ site.data.i18n['timeago'][lang] }}";
  });
</script>

<!-- Guides
================================================== -->
<section class="home-entries">
  <h2>{{ site.data.i18n['nav-li-guides'][lang] }}</h2>
  <article class="blog-grid-container">
    {% for post in guides limit: 3 %}
      {% capture img-name %}{{ post.slug }}{% endcapture %}
      {% capture img-alt %}{{ post.title }}{% endcapture %}
      <article class="blog-grid-item">
        <div class="card h-100 w-100">
          <div class="maxthumb">
            <a href="{{ site.url }}{{ post.url }}">
              {% include thumbnail.html name=img-name alt=img-alt %}
            </a>
          </div>
          <div class="card-body">
            <h3 class="card-title"><a class="text-dark" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
          </div>
        </div>
      </article>
    {% endfor %}
    {% if guides.size > 3 %}
    <article class="blog-grid-item home-entries-more">
      <div class="card h-100 w-100">
        <a class="text-dark" href="{{ site.url }}/{% if lang == 'en' %}en/{% endif %}guides">{{ site.data.i18n['more-posts'][lang] }}&nbsp;({{ guides.size }})&nbsp;»</a>
      </div>
    </article>
    {% endif %}
  </article>
</section>

<!-- Lazysizes Img Iframe Lazy Loading -->
<script src="{{ site.url }}/assets/js/lazysizes.js"></script>
