---
layout: default
---
{% assign lang = page.lang %}
{% assign slug = page.slug %}

{% include guide-header.html %}

<p class="guides-warning">{{ site.data.i18n['guides-warning'][lang] }}</p>

{% include tactic.html guide=slug tactic="theory" %}

{% include tactic.html guide=slug tactic="mental" %}

{% include tactic.html guide=slug tactic="food" %}

{% include tactic.html guide=slug tactic="pharm" %}

{% include tactic.html guide=slug tactic="sport" %}

{% include tactic.html guide=slug tactic="temperature" %}

<!-- Lazysizes Img Iframe Lazy Loading -->
<script src="{{ site.baseurl }}/assets/js/lazysizes.js"></script>
