---
layout: default
---
{% assign lang = page.lang %}

<script src="{{ site.url }}/assets/js/lunr.js"></script>
<script src="{{ site.url }}/assets/js/lunr.stemmer.support.js"></script>
<script src="{{ site.url }}/assets/js/lunr.ru.js"></script>
<script src="{{ site.url }}/assets/js/lunr.multi.js"></script>
<script src="{{ site.url }}/assets/js/lunr-index.js"></script>

<script>
function lunr_search(term) {
    document.getElementById('lunrsearchresults').innerHTML = '<article><ul></ul></article>';
    if(term) {
        document.getElementById('lunrsearchresults').innerHTML = "<h2>{{ site.data.i18n['search-results-header'][lang] }} '" + term + "'</h2>" + document.getElementById('lunrsearchresults').innerHTML;
        //put results on the screen.
        var results = idx.search(term);
        if(results.length>0){
            //console.log(idx.search(term));
            //if results
            for (var i = 0; i < results.length; i++) {
                // more statements
                var ref = results[i]['ref'];
                var url = documents[ref]['url'];
                var title = documents[ref]['title'];
                var body = documents[ref]['body'].substring(0,160)+'...';
                document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<li class='lunrsearchresult'> <article class='card-body'> <a class='text-dark' href='{{ site.url }}" + url + "'> <h3 class='card-title'>" + title + "</h3></a> <p>" + body + "</p> </article></li>";
            }
        } else {
            document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>{{ site.data.i18n['search-results-no-found'][lang] }}</li>";
        }
    }
    return false;
}
</script>

<div class="page-single">
    <div class="entry-header">
        <h1>{{ page.title }}</h1>
    </div>
</div>

<noscript>
    <div class="article-post"><p>{{ site.data.i18n['search-nojs'][lang] }}</p></div>
</noscript>

<div class="article-post nojs">
    <form class="page-search d-flex align-items-center" onSubmit="return lunr_search(document.getElementById('lunrsearch-page').value);">
        <input
            type="text"
            id="lunrsearch-page"
            class="form-control"
            name="q"
            maxlength="255"
            value=""
            placeholder="{{ site.data.i18n['search-placeholder'][lang] }}"
        >
        <button class="form-control">{{ site.data.i18n['search-button'][lang] }}</button>
    </form>
    <div id="lunrsearchresults"> <ul></ul> </div>
</div>

<script>
// Get search query from url
function getQueryVariable(variable) {
    var query = window.location.search.substring(1),
        vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] === variable) {
            return decodeURIComponent(pair[1].replace(/\+/g, '%20')).trim();
        }
    }
}
var query = decodeURIComponent((getQueryVariable("q") || "").replace(/\+/g, "%20"));
lunr_search(query);
document.getElementById('lunrsearch-page').value = query;
</script>

{{ content }}
